<form method="post">
    <div id="formHeader">Website Register</div>
    <div id="formBody">
        <div class="formField">
            <input type="email" name="email" required placeholder="Email"/>
        </div>

        <div class="formField">
            <input type="password" name="password" required placeholder="Password"/>
        </div>

        <div>
            <input type="submit" value="Register" class="customButton"/>
        </div>
    </div>
</form>
